# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl
# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Ignore tfvars files containing secrets
*.tfvars
*.tfvars.json

# Ignore plan output files
*.tfplan

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# MacOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# VS Code workspace settings
.vscode/

# Other editor files
*.swp
*.swo
*.bak
